<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" #input>
</mat-form-field>
<mat-table [dataSource]="dataSource" class="mat-elevation-z8" >
  <ng-container matColumnDef="tconst">
    <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.tconst}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="titleType">
    <mat-header-cell *matHeaderCellDef  > Title Type </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.titleType}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="primaryTitle" >
    <mat-header-cell *matHeaderCellDef > Primary Title </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.primaryTitle}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="originalTitle">
    <mat-header-cell *matHeaderCellDef > Original Title </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.originalTitle}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="isAdult">
    <mat-header-cell *matHeaderCellDef > Is Adult </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.isAdult}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="startYear">
    <mat-header-cell *matHeaderCellDef > Start Year </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.startYear}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="endYear">
    <mat-header-cell *matHeaderCellDef > End Year </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.endYear}} </mat-cell>
  </ng-container>


  <ng-container matColumnDef="runTimeMinutes">
    <mat-header-cell *matHeaderCellDef > Runtime Minutes </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.runTimeMinutes}} </mat-cell>
  </ng-container>


  <ng-container matColumnDef="genres">
    <mat-header-cell *matHeaderCellDef> Genres </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.genres}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="edit">
    <mat-header-cell *matHeaderCellDef> Edit </mat-header-cell>
    <mat-cell *matCellDef="let element"> <div class="edit-div" (click)="onClick(element)"><i class="fa fa-edit fa-lg"></i></div> </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="">No data matching the filter "{{input.value}}"</td>
  </tr>
</mat-table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
<app-spinner *ngIf="isLoading"></app-spinner>
