@font-face {
    font-family: 'OpenSans-Bold';
    src: url('./assets/fonts/OpenSans-Bold.ttf')  format('truetype');
}

@font-face {
    font-family: 'OpenSans-ExtraBold';
    src: url('./assets/fonts/OpenSans-ExtraBold.ttf')  format('truetype');
}

@font-face {
    font-family: 'OpenSans-Light';
    src: url('./assets/fonts/OpenSans-Light.ttf')  format('truetype');
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url('./assets/fonts/OpenSans-Regular.ttf')  format('truetype');
}

@font-face {
    font-family: 'OpenSans-SemiBold';
    src: url('./assets/fonts/OpenSans-SemiBold.ttf')  format('truetype');
}


:root 
{
--purple: #603eb0; 
}

html, body { height: 100%; }
body { margin: 0; }

